* {
    box-sizing: border-box;
    font-size: 1rem;
    --BR: 15px;


}

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background: url(./images/bc.jpg);
    background-size: 1920px 948px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
header {
    grid-row: 1/2;
    grid-column: 1/6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
    gap: 15px;
}
#form {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search {
    height: 2.5rem;
    border-radius: var(--BR);
    padding: 0px 10px;
    font-size: 1.5rem;
}
#search:focus {
    outline: none;
}
button {
    height: 2.5rem;
    width: 6rem;
    border-radius: var(--BR);
    border: none;
}
footer {
    grid-column: 1/6;
    grid-row: 10/11;
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribute {
    color: white;
}
.attribute a {
    color: white;
}
main {
    grid-column: 1/6;
    grid-row: 2/10;
    color: white;
}